@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sono:wght@700&display=swap");

@font-face {
  font-family: "Soulty";
  src: url("./soulty.ttf");
}

@font-face {
  font-family: "Cera";
  src: url("./cera.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$black: #303030;
$white: #fcfaff;
$aquamarine: #40b5ad;

body {
  background-color: $white;
}

html {
  scroll-behavior: smooth;
}

#one {
  height: 75vh;
  font-family: "Cera", sans-serif;
}

.heading {
  margin: 0 auto;
  max-width: 1000px;
  height: 200px;
  margin-top: 15em;
  overflow-y: hidden !important;
  h1 {
    font-size: 60px;
    opacity: 0;
    transform: translateY(50%);
    animation: anim 0.5s ease-in-out forwards;
    color: $black;
  }
  h2 {
    font-size: 70px;
    opacity: 0;
    transform: translateY(50%);
    animation: anim 0.5s ease-in-out forwards;
    animation-delay: 1s;
    animation-fill-mode: both;
    color: $aquamarine;
  }
}

.arrow {
  text-align: center;
  margin-top: 10em;
  #arrow-down {
    font-size: 48px;
    opacity: 0;
    transform: translateY(50%);
    animation: anim 0.5s ease-in-out forwards;
    animation-delay: 2s;
    animation-fill-mode: both;
  }
}

@keyframes anim {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

$navy: #0a192f;
$slate: #a8b2d1;

#two {
  height: 100vh;
  background-color: $navy;
  font-family: "Cera", sans-serif;
}

.about-me {
  margin: 0 auto;
  padding-top: 7em;
  max-width: 1000px;
  h1 {
    font-size: 50px;
    color: $slate;
  }
  p {
    font-size: 18px;
    color: $white;
    margin-top: 4em;
    margin-bottom: 2em;
  }
  .text {
    display: flex;
    flex-direction: row;
  }
  .more-text {
    margin: 20px;
  }
  .skills {
    font-family: "Work Sans", sans-serif !important;
    h2 {
      color: #ff5f1f;
      white-space: nowrap;
      margin: 10px;
    }
    h1{
      font-family: "Cera";

    }
  }
}

.nice {
  color: $aquamarine;
  font-size: 40px;
}

.smt {
  display: flex;
  flex-direction: row;
  align-items: center;
  .border {
    height: 20px;
    width: 100%;
    margin: 10px;
    border-radius: 20px;
    background-color: $white;
    .progress-blender {
      height: 20px;
      width: 35%;
      border-radius: 20px;
      background-color: #ff5f1f;
    }
    .progress-fusion {
      height: 20px;
      width: 80%;
      border-radius: 20px;
      background-color: #ff5f1f;
    }
  }
}
